<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List!</title>
</head>
<body style="text-align: center; padding-top: 50px; background-color: gray; text-decoration: none;">
    <h1>⛱ Item Deleted ⛱</h1>
    <p><a style="text-decoration: none; color: black;" href="/items">Back to list.</a></p>
</body>
</html>