<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>add items</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="text-align: center; padding-top: 50px; background-color: pink; list-style-position: inside;">
  <form action="/items" method="post">
    <label for="name">Add Name of Item: </label>
    <input id="name" name="name" type="text"><br>
    <label for="weight">Add Weight of Item: </label>
    <input id="weight" name="weight" type="number"><br>
    @* <label for="cot">Add Cost of Item: </label>
    <input id="cost" name="cost" type="number"><br> *@
    <button type="submit">Submit!</button>
  </form>
</body>

</html>